<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/"><img src="{{ url_for('static', filename='logo.png') }}" alt="Exoplanet Explorer Logo" class="navbar-logo"></a>
        <a href="/">Home</a>
        <a href="/learn">Learn</a>
        <a href="/contact">Contact Us</a>
        <a href="/how-to-use">How to Use Predictor</a>
        <a href="/predict">Exoplanet Predictor</a>
        <a href="/articles">Articles</a>
    </div>

    <header>
        <h1>Choose Your Preferred Method of Contact!</h1>
    </header>
    <main>
        <div class="box"> 
        <section>
            <h2>Email</h2>
            <a href="emailto:sgonzalez.ieu2023@student.ie.edu" class="href-color">Click Here!</a>
        </section>

        <section>
            <h2>Call us!</h2>
            <p>I don't want to put my number jajaja</p>
        </section>
        <section>
            <h2>Socials</h2>
            <a href="https://www.instagram.com/sofigzzloz" class="href-color">Instagram</a> 
            <p></p>
            <a href="https://www.linkedin.com/in/sofia-gonzalez-lozano-32052a226/" class="href-color">LinkedIn</a>
        </section>
        </div> 
    </main>
    <div class="box-copy">
        <footer>
            <p>&copy; 2024 Exoplanet Explorer. All rights reserved.</p>
        </footer>
        </div>
</body>
</html>
